html, body {
    font-family: arial, serif;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: darkgreen;
}

a, a:visited, a:hover, a:active, a:link {
    color: #fff;
}